  <footer class="footer py-4 fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-4 mx-auto text-center">
          <div class="copyright text-center text-sm text-muted text-lg-left">
            &copy; 
            <a href="https://jknkedah.moh.gov.my/" class="font-weight-bold" target="_blank">JKNKedah</a> 
            - coded by  <a target="_blank" href="https://github.com/naisyahisa">naisyahisa</a>.
          </div>
          <!-- <a target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            17114145
          </a>
          <a target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            FYP2
          </a>
          <a target="_blank" 
             class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Nur Aisyah
          </a> -->
        </div>
      </div>
    </div>
  </footer>
