{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Helpdesk {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <section>
    <div class="page-header section-height-75">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-4">
            <div class="card card-plain mt-8">
              <div class="card-header pb-0 text-left bg-transparent">
                <h4 class="text-info text-gradient">
                  Keagat - Helpdesk
                </h4>
                <p class="mb-0">
                    {% if msg %}
                        {{ msg | safe }}
                    {% else %}
                        Hantar sebarang aduan berkenaan dengan sistem dan visualisasi data.
                    {% endif %}                 
                </p>
              </div>
              {% if submitted %}
                Aduan anda telah diterima.
              {% else %}
                <div class="card-body">
                  <form role="form text-left" method="post" action="{% url 'helpdesk' %}">
                    {% csrf_token %}
                      <!-- {{user.id}} -->
                      {{form.as_p}}
                    
                    <!-- <label>Username</label> -->
                    <!-- <div class="mb-3">
                      {{form.email_user}}
                    </div> -->
                    <!-- <label>Username</label> -->
                    <!-- <div class="mb-3">
                      {{form.email_subject}}
                    </div> -->
                    <!-- <span class="text-error">{{ form.help_status.errors }}</span> -->

                    <!-- <label>Email</label> -->
                    <!-- <div class="mb-3">
                      {{ form.email_content }}
                    </div> -->
                    <!-- <span class="text-error">{{ form.email_subject.errors }}</span> -->
                    
                    <!-- <label>Password</label> -->
                    <!-- <div class="mb-3">
                      {{ form.password1 }}
                    </div>
                    <span class="text-error">{{ form.password1.errors }}</span> -->

                    <!-- <label>Password Check</label> -->
                    <!-- <div class="mb-3">
                      {{ form.password2 }}
                    </div>
                    <span class="text-error">{{ form.password2.errors }}</span> -->

                    <!-- <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="rememberMe" checked="">
                      <label class="form-check-label" for="rememberMe">Terms</label>
                    </div> -->
                    <div class="text-center">
                      <input type="submit" value="Hantar" class="btn bg-gradient-info w-100 mt-3 mb-0">

                      <!-- <button type="submit" name="register" class="btn bg-gradient-info w-100 mt-3 mb-0">Daftar</button> -->
                    </div>
                  </form>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
              <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('/static/assets/img/jkn_edited.png')"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}